.btn {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--text-primary);
    text-align: center;
    padding: 20px 50px;
    border-radius: 100px;
    font-weight: bold;
}

.btn-outlined {
    border: 1.5px solid #ffffff;
}

.btn-outlined:hover {
    color: var(--text-secondary);
}

.btn-filled {
    background: rgb(53, 237, 251);
    background: linear-gradient(90deg, rgba(53, 237, 251, 1) 0%, rgba(45, 155, 239, 1) 65%, rgba(155, 45, 239, 1) 100%);
}

.btn-filled:hover {
    color: #000;
}
