<footer>
    <div class="top">
        <a class="logo" href="/"><img src="/assets/logo.png" alt="Logo"></a>
        <div class="links">
            <div class="col">
                <h5>Musicbox</h5>
                <ul>
                    <a href="#">About</a>
                    <a href="#">Premium</a>
                    <a href="#">Features</a>
                </ul>
            </div>
            <div class="col">
                <h5>Communities</h5>
                <ul>
                    <a href="#">For Artists</a>
                    <a href="#">Developers</a>
                    <a href="#">Press</a>
                </ul>
            </div>
            <div class="col">
                <h5>Useful links</h5>
                <ul>
                    <a href="#">Help</a>
                    <a href="#">Web Player</a>
                    <a href="#">Explore Channels</a>
                    <a href="#">Download App</a>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="social">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="lang">
                <select name="" id="">
                    <option value="english" selected>English (us)</option>
                    <option value="latvian" selected>Latvian (lv)</option>
                    <option value="russian" selected>Russian (ru)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bottom">
        <ul>
            <a href="#">Legal</a>
            <a href="#">Privacy</a>
            <a href="#">Cookies</a>
            <a href="#">Ads</a>
        </ul>
        <p class="copyright"><i class="far fa-copyright"></i> 2019 MusicBox</p>
    </div>
</footer>
