<nav class="navbar">
    <a class="logo" href="/"><img src="/assets/logo.png" alt="Logo"></a>
    <i class="fas fa-bars fa-2x hamburger"></i>
    <div class="nav-links">
        <div class="nav-item">
            <a href="#" class="nav-link">Download</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">Help</a>
        </div>
        <div class="nav-item login">
            <a href="/pages/login.html" class="nav-link btn btn-outlined">Log In</a>
        </div>
        <div class="nav-item signup">
            <a href="/pages/signup.html" class="nav-link btn btn-filled">Sign Up</a>
        </div>
    </div>
</nav>

<script src="/js/index.js"></script>